{% load static %}
<!DOCTYPE html>
<html>
    {% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div class="container">
       <h1>Cart</h1>
        {% if cart_products %}
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for product in cart_products %}
                <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Your cart is empty.</p>
        {% endif %}

        <a href="{% url 'pay_now' %}" class="pay_now">Pay Now</a>
    </div>
    
    {% include 'footer.html' %}
</body>
</html>
